@import '../layout/header';
@import '../layout/side-bar';

body {
    color: $grey;

    // background-image: url(../../assets/images/squidgame.webp);
    @include background-basic;
    background-attachment: fixed;
    font-family: 'Mulish',
        sans-serif;

    overflow-y: auto;

    .background {
        position: sticky;
        width: 90vw;
        backdrop-filter: blur(3px);
    }

    .movie-title {
        font-size: 2rem;
        color: black;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 0 15px rgba($color: white, $alpha: 0.9);
    }

    .main-cont-block {
        margin-left: $sidebar-width;

        .movie-container {
            @include basic-card;
            @include row-flex;

            .poster {
                width: 30%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }

            .information-div {
                margin: 0 2%;
                width: 36%;


                .movie-det {
                    width: 100%;
                    font-size: 1.25em;

                    color: white;
                    line-height: 1.25em;

                    span,
                    a {
                        color: $base-red;
                        text-decoration: none;
                    }
                }
            }
        }

        .actors {
            h2 {
                padding: 2em 0;
            }

            .castContainer {
                width: 90%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 3%;
                height: 100%;

                .cast {
                    width: 100%;
                    height: 100%;
                    @include col-flex;
                    justify-content: space-between;
                    background-color: rgba($color: black, $alpha: 0.6);
                    border-radius: $basic-border-radius;
                    border: 1px rgba($color: white, $alpha: 0.5) solid;
                    box-shadow: 0 0 20px 5px rgba($color: white, $alpha: 0.3);

                    .cast-img {
                        width: 100%;
                        height: 80%;
                        border-radius: $basic-border-radius;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: $basic-border-radius $basic-border-radius 0 0;
                        }
                    }

                    .actor-info {
                        color: white;
                        text-align: center;
                        margin-bottom: 1em;

                    }
                }
            }
        }

        .recommend-cont {
            @include col-flex;
            width: 90%;
            height: 100%;
            margin: 5% auto;

            h2 {
                font-size: 2rem;
                color: black;
                font-weight: bold;
                text-align: center;
                text-shadow: 0 0 15px rgba($color: white, $alpha: 0.9);
            }
        }

        .recommend {

            padding-top: 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1%;
            height: 100%;
            width: 100%;

            .movie-item {
                position: relative;
                height: 25rem;
                width: 100%;
                @include col-flex;
                @include background-basic;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 0 1em 1em 0;
                border-radius: $basic-border-radius;
                cursor: pointer;

                .movie-img {
                    @include base-img;
                }

                .movie-item-info {
                    color: white;
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    left: 0;
                    bottom: 0;
                    padding-right: 1rem;
                    background-color: rgba($color: black, $alpha: 0.6);
                    border-radius: 0 0 $basic-border-radius $basic-border-radius;



                    h3 {
                        font-size: 1.5em;
                        margin-bottom: 0.5em;
                        text-align: end;
                    }

                    .movie-item-btn {
                        color: white;

                        @include row-flex;
                        justify-content: flex-end;

                        button {
                            cursor: pointer;
                            border-radius: 5px;
                            height: 3.5em;
                            width: 3.5em;
                            font-size: 1em;
                            @include col-flex;
                            margin: 0.2em;
                            color: white;
                            background: rgba($grey, $alpha: 0.4);
                            border: none;


                            &:last-child {
                                margin-left: .5rem;
                            }

                            &:hover {
                                background-color: white;
                                color: $base-red;
                            }
                        }
                    }
                }



            }
        }
    }
}